body::before {
    content: "";
    background: url('towfiqu-barbhuiya-em5w9_xj3uU-unsplash.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
}

.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

body {
    overflow-y: hidden;
}

button {
    display: block;
    border-radius: 9px;
    padding: 8px 20px;
    margin: 30px auto;
    font-size: 20px;
}

button:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(4, 4, 53);
}

input {
    padding: 8px 20px;
    border-radius: 10px;
    width: 300px;
    font-size: 20px;
}

h1 {
    text-align: center;
    color: rgb(64, 9, 50);
}